header{
  .container{
    .card1{
      .h66{
        margin-left: 50px;
        margin-top: 30px;
      }
      .img1{
        margin-top: 10px;
      }
      .btn1{
        margin-left: 50px;
        margin-top: 20px;
        background-color: blue;
        height: 35px;
        color: white;

      }
      .h06{
        margin-left: 700px!important;
        margin-top: 30px;
      }
    }
  }
}
main{
  .section2{
    margin-top: 50px;
    .container
    .card3{
      .ppp{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -400px;
        margin-left: 1100px;
        background-color: green;
      }
      .h61{
        font-size: 15px;
        color: white;
        margin-top: -315px;
        margin-left: 1115px;
      }
    }
  }
  .section1{
    .container{
      .card2{
        .btn2{
          background-color: green;
          color: white;
          margin-top: -5px;
          height: 30px;
          margin-left: 5px;
        }
        .input1{
          margin-top: 20px;
          margin-left: 350px;
        }
        .h666{
          margin-left: 350px;
          width: 400px;
          margin-top: 20px;
        }
        h1{
          margin-left: 280px;
          margin-top: 50px;
          width: 500px;
        }
      }
    }

  }
  .section3{
    .container{
      .card4{
        .h21{
          margin-left: 200px;
          width: 200px;
          margin-top: 100px;
        }
        .h63{
          margin-left: 200px;
        }
        .h02{
          width: 200px;
          margin-top: 100px;
        }
        .img4{
          margin-left:-20px;
          margin-top: 100px;
          width: 685px;
        }
        .img3{
          margin-top: 100px;
          width: 685px;
        }
      }
    }
  }
  .section4{
    .container{
      .card5{
        .col-5{
          .h006{
            width: 300px;
          }
          .h001{
            margin-top: 100px;
            width: 150px;
          }
          .input2{
            width: 300px;
            margin-top: 30px;
          }
          .btn3{
            background-color: green;
            color: white;
            margin-top: 10px;
          }
        }
      }
    }
  }
}